.menu-superior {
  background-color: #BF3131 !important;
}

.nav-item a,
.nav-item span,
.nav-item button {
  color: #f7d7d7 !important;
}

.nav-item a:hover {
  color: #ffffff !important;
}

.navbar {
  background-color: #BF3131 !important;
}

.btn-salir {
  background-image: url("/imagenes/logout_icon.png");
  width: 28px;
  height: 28px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.btn-salir:hover {
  width: 30px;
  height: 30px;
}